<p>
	<strong>Order ID: </strong>
	<%= @order.order_id %>
</p>

<p>
	<strong>Order Date: </strong>
	<%= @order.order_date %>
</p>

<p>
	<strong>Total Purchase </strong>
	<%= @order.order_total %>
</p>


 <%= link_to 'Back', orders_path %>
