<!DOCTYPE html>
<html>
  <head>
    <title>CcktHardware</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'clerks' %>
    
  </head>

  <body>
	 <ul>
      <li><a href="default.asp">Home</a></li>
      <li><a href="news.asp">News</a></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><a href="about.asp">About</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
