<!DOCTYPE html>
<html>
  <head>
    <title>CcktHardware</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'general' %>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
     <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="nav-head">
      <li><a href="../../home">25541-CCKT Hardware</a></li>
    </div>

    <%= yield %>
  </body>
</html>
