<!DOCTYPE html>
<html>
  <head>
    <title>CcktHardware</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'navbar' %>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="nav-head">
      <li>25541-CCKT Hardware</li>
    </div>

    <%= yield %>
  </body>
</html>
